.business hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}
.form-control {
    color: black;
    border-left: 5px solid #bd2130;
}
.g-recaptcha {
    display: inline-block;
}

#submit_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}

.business .card .card-img-top {
    width: auto!important;
}


/* Single Business Styles */
.single-business hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}
.single-business .school-social {
    background-color: #f8f9fa;
    color: black;
}
.single-business .school-social i {
    font-size: 1rem;
}
.business-details {
    margin: 0 1rem;
}

/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: none!important;
} */


#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* #tab-button li {
    display: table-cell;
    width: 20%;
} */

#tab-button li a {
    display: block;
    padding: 0.3rem;
    background: white;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    text-decoration: none;
    border-top: 5px solid #b1040e;
    font-size: 1.3rem;
}

#details h4 {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: Futura;
}

#details p {
    color: #76777a;
    text-align: justify;
}

.tile {
    background: white;
    padding: 2%;
    border: 1px solid #ddd;
}

.favorite-heart {
    font-size: 1.5rem;
    border: none;
    color: red;
    background-color: white!important;
}