@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0!important;
}

.app-header {
    height: 85px!important;
}
.header-fixed .app-body {
    margin-top: 85px!important;
}

.form-control {
    color: black!important;
    border-left: 5px solid #bd2130!important;
}

.user-settings-head {
    margin-bottom: 0.3rem!important;
    font-size: 1.4rem;
    font-weight: 700;
}

.user-settings-head-faq {
    font-size: 1.4rem;
    font-weight: 700;
}

th {
    text-align: center!important;
}

td {
    text-align: center;
}

.form-label {
    color: #76777a;
}

.create-btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none!important;
}

.school-top-nav a.active {
    background-color: red;
    color: white;
    border-radius: 3px;
}

.school-top-nav a:hover {
    background-color: rgb(216, 216, 216);
    color: black;
    font-weight: 600;
}

.overview .fa, .overview .fas {
    font-weight: 900;
    color: white;
    text-align: center;
    background-color: #23A1C0;
    padding: 0.75rem;
    border-radius: 50px;
}