@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
@font-face {
	font-family: "futura";
	src: url("../fonts/futura.ttf");
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0!important;
}

.app-header {
    height: 85px!important;
}
.header-fixed .app-body {
    margin-top: 85px!important;
}

.form-control {
    color: black!important;
    border-left: 5px solid #bd2130!important;
}

.user-settings-head {
    margin-bottom: 0.3rem!important;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Futura;
}

.card-body {
    padding: 1rem!important;
}

.user-settings-head-faq {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Futura;
}

th {
    text-align: center!important;
}

td {
    text-align: center;
}

.form-label {
    color: #76777a;
}

.create-btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none!important;
}

.school-top-nav a.active {
    background-color: red;
    color: white;
    border-radius: 3px;
}

.school-top-nav a:hover {
    background-color: rgb(216, 216, 216);
    color: black;
    font-weight: 600;
}

.overview .fa, .overview .fas {
    font-weight: 900;
    color: white;
    text-align: center;
    background-color: #23A1C0;
    padding: 0.75rem;
    border-radius: 50px;
}
.btn {
    font-family: Futura;
}



.form-check-input {
    margin-top: 0.2rem!important;
}


.app-footer {
    background: #b1040e!important;
}



/* Article colors */
.article-blue {
    background: linear-gradient(98deg, rgba(41, 38, 38, 1) 19%, rgb(34 23 203) 67%, rgb(0 31 255) 100%);
    color: white;
}

.article-red {
    background: linear-gradient(98deg, rgba(41, 38, 38, 1) 19%, rgba(194, 13, 54, 1) 67%, rgba(194, 13, 54, 1) 100%);
    color: white;
}

.article-gray {
    background: linear-gradient(98deg, rgb(205 193 193) 19%, rgb(139 138 143) 67%, rgb(105 105 106) 100%);
    color: black;
}







.k-tooltip{
    background: #0094d4!important;
    border-color: #0094d4!important;
    color: white!important;
    font-size: 14px!important;
    padding: 10px!important;
    text-align:left;
    left: 0;
}
.k-tooltip-content {
    text-align:left;
}