hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}

.post-btn {
    background-image: -webkit-linear-gradient(top, #CF0411, #660000);
    color: white;
    border: none;
    font-size: 1.2rem;
}

.form-control {
    color: black;
    border-left: 5px solid #bd2130;
}

.g-recaptcha {
    display: inline-block;
}

#submit_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}

th {
    color: #8898aa;
    border-color: #e9ecef;
    background-color: #f6f9fc;
    font-size: 1.2rem;
    text-align: center;
    font-family: Futura;
}

td {
    font-size: 0.95rem!important;
    text-align: center;
    vertical-align: middle!important;
}



/* Single event Styles */
.favorite-heart {
    font-size: 1.5rem;
    border: none;
    color: red;
    background-color: white!important;
}

hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}

.buttons {
    border: 1px solid #800f0e;
    color: #800f0e;
    border-radius: 0.2rem;
}

.buttons:hover {
    background-color: #800f0e;
    color: white;
}




.virtual-box {
    bottom: 20px;
    width: 100%;
}
.virtual-box p {
    text-align: center;
    font-size: 20px;
}