hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}

.buttons {
    background-image: -webkit-linear-gradient(top, #CF0411, #660000);
    color: white;
    border: none;
}

.post-btn {
    background-image: -webkit-linear-gradient(top, #CF0411, #660000);
    color: white;
    border: none;
}

.form-control {
    color: black;
    border-left: 5px solid #bd2130;
}
.g-recaptcha {
    display: inline-block;
}

#submit_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}

th {
    color: #8898aa;
    border-color: #e9ecef;
    background-color: #f6f9fc;
    font-size: 1rem;
    text-align: center;
}

td {
    font-size: 0.95rem!important;
    text-align: center;
}

