.main-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 500px;
}
.search-bar {
    padding-top: 13rem;
}
.search-box {
    background-color: rgb(255, 255, 255, 0.5);
}
.search-drop {
    /* outline: none!important; */
    font-size: 0.9rem;
    background-color: #fff;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 12px 12px;
    -webkit-appearance: none;
    width: 125px;
}
.advanced-search {
    background-color: rgb(228, 12, 12);
    font-size: 1rem;
}
.search-input::placeholder {
    font-size: 0.9rem;
}




.index-categories {
    background: #ddd;
}
.index-categories img {
   width: 3.125rem;
   height: 3rem;
}
.index-categories .row div {
    border-right: 1px dotted gray;
}
.index-categories .row div:last-child {
    border-right: none!important;
}

.index-categories a:hover p {
    color:#800;
    font-weight: 600;
}


.form-control, .form-select {
    color: black;
    border-left: 5px solid #bd2130;
}
.g-recaptcha {
    display: inline-block;
}

#submit_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}

.tooltip-inner {
    white-space: pre-wrap;
}



.logo-sliders {
    padding-left: 40px;
    padding-right: 40px;
}
.logo-sliders .swiper-slide {
    text-align: center;
}
.logo-sliders img {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.logo-sliders .swiper-button-next:after, .logo-sliders .swiper-button-prev:after {
    content: 'next';
    font-size: 12px;
    background-color: #284162;
    padding: 10px 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.logo-sliders .swiper-button-prev:after {
    content: 'prev';
    font-size: 12px;
    background-color: #284162;
    padding: 10px 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.logo-sliders .swiper-button-next:hover::after {
    background-color: #b1040e;
}
.logo-sliders .swiper-button-prev:hover::after {
    background-color: #b1040e;
}




.virtual-box {
    bottom: 20px;
    width: 100%;
}
.virtual-box p {
    text-align: center;
    font-size: 17px;
}