.main-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 500px;
}
.search-bar {
    padding-top: 13rem;
}
.search-box {
    background-color: rgb(255, 255, 255, 0.5);
}
.advance-box {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 12px 0;
    width: 150px;
    margin: auto;
}
.search-drop {
    /* outline: none!important; */
    font-size: 0.9rem;
    background-color: #fff;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 12px 12px;
    -webkit-appearance: none;
    width: 125px;
}
.advanced-search {
    background-color: rgb(228, 12, 12);
    font-size: 1rem;
}
.search-input::placeholder {
    font-size: 0.9rem;
}




.index-categories {
    background: #ddd;
}
.index-categories img {
   width: 3.125rem;
   height: 3rem;
}
.index-categories .row div {
    border-right: 1px dotted gray;
}
.index-categories .row div:last-child {
    border-right: none!important;
}

.index-categories a:hover p {
    color:#800;
    font-weight: 600;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    letter-spacing: 1.5px;
    font-size: 16px;
}


.form-control, .form-select {
    color: black;
    border-left: 5px solid #bd2130;
}
.g-recaptcha {
    display: inline-block;
}

#submit_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}

.tooltip-inner {
    white-space: pre-wrap;
}



.logo-sliders {
    padding-left: 40px;
    padding-right: 40px;
}
.logo-sliders .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-sliders .swiper-slide a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo-sliders .frame {
    width: 80px;
    margin-bottom: 15px;
}
.logo-sliders .logo {
    position: absolute;
    height: 40px;
    top: 20px;
}

.logo-sliders .swiper-button-next:after, .logo-sliders .swiper-button-prev:after {
    content: 'next';
    font-size: 12px;
    background-color: #284162;
    padding: 10px 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.logo-sliders .swiper-button-prev:after {
    content: 'prev';
    font-size: 12px;
    background-color: #284162;
    padding: 10px 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.logo-sliders .swiper-button-next:hover::after {
    background-color: #b1040e;
}
.logo-sliders .swiper-button-prev:hover::after {
    background-color: #b1040e;
}




.virtual-box {
    bottom: 20px;
    width: 100%;
}
.virtual-box p {
    text-align: center;
    font-size: 17px;
}




.advanced-disabled {
    pointer-events: none;
    cursor: pointer;
    background-color: #e38686;
}




/* Responsive */
@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 428px) {
    .main-banner {
        height: 250px;
        margin-top: 20rem;
    }
    .search-bar {
        padding-top: 6rem;
    }
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}