hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}
.form-control {
    color: black;
    border-left: 5px solid #bd2130;
}
.g-recaptcha {
    display: inline-block;
}

#submit_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
    font-size: 1.2rem;
}

th {
    color: #8898aa;
    border-color: #e9ecef;
    background-color: #f6f9fc;
    font-size: 1.2rem;
    text-align: center;
    font-family: Futura;
}

td {
    font-size: 0.95rem!important;
    text-align: center;
    vertical-align: middle!important;
}



.directory nav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}




/* Responsive */
@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 428px) {
    .directory {
        overflow: auto;
    }
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}