.profile-settings a {
    color: #b1040e;
    font-size: 1.2rem;
}

.profile-settings a:hover {
    color: black!important;
}

.profile-settings a.active {
    font-weight: 800!important;
    color: blue;
}

.user-settings-head {
    margin-bottom: 0.3rem!important;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Futura;
}

.user-settings-head-faq {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Futura;
}

.user-settings-sub {
    margin-bottom: 0.3rem!important;
    font-size: 0.95rem;
    font-weight: 500;
    color: #5e6871;
}

.user-settings input, .user-settings textarea {
    font-size: 0.95rem!important;
}

.user-settings .badge {
    width: 100%!important;
    padding: 8px;
}

.user-settings .card {
    margin-bottom: 0px;
}

.form-control, .form-select {
    color: black;
    border-left: 5px solid #bd2130;
}

th {
    text-align: center!important;
    font-size: 0.95rem;
}

td {
    text-align: center;
    font-size: 0.9rem;
    vertical-align: middle!important;
}

.create-btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}



/* account dashboard */
.account-dashboard-cards {
    border: 3px solid #94ca60;
    display: inline-block;
    border-radius: 80px;
    color: #ff8000;
}

.user-settings .fa, .user-settings .fas {
    font-weight: 900;
    color: white;
    text-align: center;
    background-color: #23A1C0;
    padding: 0.75rem;
    border-radius: 50px;
}



.invalid {
    color: red;
    font-weight: 600;
}



/* Calendar styles */
.datetimepicker {
    width: 100%;
    top: 4.3rem!important;
}
.datetimepicker-dummy-input {
    cursor: pointer;
}
.datetimepicker-dummy .datetimepicker-dummy-wrapper .is-hidden {
    visibility: hidden!important;
}
.datetimepicker .datepicker-nav .datepicker-nav-next, .datetimepicker .datepicker-nav .datepicker-nav-previous {
    color: black!important;
}
.datetimepicker-header {
    display: none!important;
}
.datetimepicker-footer {
    display: none!important;
}

.datetimepicker-dummy-wrapper {
    color: black!important;
    border-color: #dbdbdb;
    border-left: 5px solid #bd2130!important;
    height: 96%!important;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper::before, .datetimepicker-dummy .datetimepicker-dummy-wrapper:before {
    top: 0.55rem!important;
}

.datetimepicker-dummy .datetimepicker-clear-button {
    margin: 0.2rem 0.2rem 0 0!important;
}
.datetimepicker.is-datetimepicker-default .datetimepicker-container:before {
    display: none!important;
}


