hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}

.post-btn {
    background-image: -webkit-linear-gradient(top, #CF0411, #660000);
    color: white;
    border: none;
    font-size: 1.2rem;
}

.form-control {
    color: black;
    border-left: 5px solid #bd2130;
}
.g-recaptcha {
    display: inline-block;
}

#submit_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}

.modal-footer {
    justify-content: center!important;
}