.schools hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}
.form-control {
    color: black;
    border-left: 5px solid #bd2130;
}
.g-recaptcha {
    display: inline-block;
}

.school-register #submit_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}

hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}




/* Single School Styles */
/* .single-school hr {
    background: #bd2130;
    height: 1px;
    opacity: 1;
}
.single-school .school-social {
    background-color: #f8f9fa;
    color: black;
}
.single-school .school-social i {
    font-size: 1rem;
}
.school-details {
    margin: 0 1rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: none!important;
}

.single-school .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #bd2130!important;
}
.single-school .nav-item button {
    border-radius: 0!important;
    color: black!important;
}
.single-school .nav-item {
    border: 2px solid black;
}
.single-school .nav-item button {
    padding: 0.4rem 1.26rem!important;
}


.tab-content .gray {
    font-size: 0.875rem!important;
}

.tile {
    background: white;
    padding: 2%;
    border: 1px solid #ddd;
    margin-right: 1%;
    margin-bottom: 1%;
}

#pills-quick h5 {
    font-size: 0.9rem;
    font-weight: 600;
}

#pills-quick p {
    color: #76777a;
    text-align: justify;
} */


/* Single school Styles */
.swiper-button-next, .swiper-button-prev {
    color: white;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 1.5rem;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 1.5rem;
}

.favorite-heart {
    font-size: 1.35rem;
    border: none;
    color: red;
    background-color: white!important;
}

.main-nav .nav-link {
    color: black;
    font-weight: 600;
}

.main-nav .nav-item.show .nav-link, .main-nav .nav-link.active {
    color: black;
    background-color: #fff;
    border-top: 5px solid #bd2130;
}
.main-nav .nav-link:hover {
    border-top: 5px solid #bd2130;
}
.single-fact {
    border: 1px solid #dee2e6!important;
    border-radius: 12px;
    box-shadow: 0 0rem 1rem rgba(0,0,0,.175);
}
.red-btn {
    background-image: -webkit-linear-gradient(top, #CF0411, #660000);
    color: white;
    border: none;
}

.table td, .table th {
    padding: 1rem 1.5rem!important;
}

.scholarship-search select {
    background-color: #01468f;
    color: white;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='fas fa-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

#apply_btn {
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
}

#overview .table thead th {
    border: none!important;
    background-color: #01468f;
    color: white;
}

#financial .table thead th {
    border: none!important;
    background-color: #01468f;
    color: white;
}


.financial-tabs .nav-item {
    width: 33.33%;
    border: 1px solid #dee2e6;
}

.financial-tabs .nav-link {
    color: #bd2130;
    font-weight: 600;
    width: 100%;
}

.financial-tabs .nav-item.show .nav-link, .financial-tabs .nav-link.active {
    color: #bd2130;
    background-color: #f2f4f8;
    border-color: #f2f4f8;
    border-radius: 0!important;
}
.financial-tabs .nav-link:hover {
    background-color: #f2f4f8;
    color: black;
}