@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: "futura";
	src: url("../fonts/futura.ttf");
}
.futura {
    font-family: Futura;
}
.btn {
    font-family: Futura;
}
.fixed-top .navbar li a {
    font-family: "futura", sans-serif!important;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0!important;
}

p {
    font-size: 0.9rem;
}

.gray {
    color: #76777a;
}
.menu-nav .nav-link {
    display: block;
    padding: 0rem 0.5rem!important;
}
.top-nav {
    background-color: #333;
    /* border-bottom:1px solid white; */
}
.top-nav .logo img {
    width: 4.6rem;
    left: 9rem;
    z-index: 1;
    top:0.8rem;
}

.top-nav .user img {
    width: 1.5rem;
    height: 1.5rem;
    /* border-radius: 1rem; */
}
.top-nav a {
    font-size: 0.9rem;
}
.bottom-nav {
    background-color: #b1040e;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
    height: 70px;
}
.bottom-nav a {
    font-size: 1.0625rem;
    padding: 0 0.1rem;
}

.red .card-body {
    background: linear-gradient(98deg, rgba(41, 38, 38, 1) 19%, rgba(194, 13, 54, 1) 67%, rgba(194, 13, 54, 1) 100%);
    /* color: white; */
}

.blue .card-body {
    background: linear-gradient(98deg, rgba(41, 38, 38, 1) 19%, rgb(34 23 203) 67%, rgb(0 31 255) 100%);
    /* color: white; */
}

.red .card-body h6, .blue .card-body h6 {
    color: white;
}



/* footer */

.footer {
    background: #b1040e;
}
.footer h5 {
    background-color: #ccc;
    color: #333;
}
.footer hr {
    height: 0.8px;
    background: white;
    opacity: 1;
}
.footer a {
    font-size: 0.9rem;
    color: white;
    text-decoration: none!important;
    border-bottom: 2px solid transparent;
}
.footer .top-footer a:hover {
    /* border-bottom: 2px solid black; */
    color: white!important;
}


.footer_social {
    margin-top: 40px;
}
.footer_social ul li {
    display:inline-block;
    width:45px;
    height:45px;
    background:#830b0b;
    border-radius:50%;
    -webkit-transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -ms-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    transition:all 200ms ease;
}
.footer_social ul li a {
    display:block;
    position:relative;
    text-align:center;
}
.footer_social ul li a i {
    color:#FFFFFF;
    line-height:45px;
}
.footer_social ul li.fb:hover {
    background:#3b5998;
}
.footer_social ul li.gp:hover {
    background:#dd4b39;
}
.footer_social ul li.yt:hover {
    background:#c4302b;
}
.footer_social ul li.ig:hover {
    background:#E1306C;
}
.footer_social ul li.tw:hover {
    background:#00acee;
}


.banner {
    height: 20rem!important;
    object-fit: cover;
    width: 100%;
}

.required {
    color: red;
}

.menu-nav .dropdown-menu {
    background-color: #e91f2b!important;
    left: -1rem!important;
}

.menu-nav .dropdown-menu a {
    color: white!important;
}

.menu-nav .dropdown-menu a:focus {
    background-color: #b1040e!important;
    color: white!important;
}

.menu-nav .dropdown-item:hover {
    color: #16181b!important;
}

.menu-nav .dropdown-toggle:after {
    margin-left: 0.6em!important;
    color: white!important;
}

::placeholder {
    font-size: 0.95rem;
}

.form-label {
    font-size: 0.95rem;
    color: #76777a;
}




/* cookie consent */
.cookie-consent {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background-color: rgb(250, 228, 220);
    color: rgb(62, 62, 62);
    font-size: 17px;
    opacity: 0.98;
    border-top: 1px solid rgb(204, 204, 204);
    z-index: 1;
}

.cookie-consent__agree {
    font-family: Futura;
    background-image: linear-gradient(to bottom, #CF0411, #660000);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
}




/* Article colors */
.article-blue {
    background: linear-gradient(98deg, rgba(41, 38, 38, 1) 19%, rgb(34 23 203) 67%, rgb(0 31 255) 100%);
    color: white;
}

.article-red {
    background: linear-gradient(98deg, rgba(41, 38, 38, 1) 19%, rgba(194, 13, 54, 1) 67%, rgba(194, 13, 54, 1) 100%);
    color: white;
}

.article-gray {
    background: linear-gradient(98deg, rgb(205 193 193) 19%, rgb(139 138 143) 67%, rgb(105 105 106) 100%);
    color: black;
}

.card-padding {
    padding: 0.7rem!important;
}